# Postgresql environment variables for Docker Compose
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Postgresql DSN
# Example: postgres://username:password@localhost:5432/dbname?sslmode=disable
GREENLIGHT_DB_DSN=

# SMTP environment variables
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
